@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-italic.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-bold-italic.woff2") format("woff2");
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  width: 1280px;
  font-family: "PT Sans", "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
}

.clean {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 0 5px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 6;
  padding-left: 65px;
  padding-right: 71px;
}

.navigation-link {
  font-family: "PT Sans", "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  background-color: inherit;
  font-style: normal;
  box-sizing: border-box;
  border: 3px solid transparent;
  border-radius: 10px;
  padding: 6px 12px;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:active {
  opacity: 30%;
  color: #756257;
}

.navigation-link:focus {
  outline: none;
  color: #756257;
  border: 3px solid #83B3D3;
}

.navigation-icon {
  fill: #000000;
}

.navigation-list {
  min-height: 65px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navigation-item {
  margin: 0 16px;
}

.navigation-item:first-child {
  margin-left: 0;
}

.container-user {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.container-user-link {
  line-height: 0;
  border: 4px solid transparent;
  border-radius: 10px;
  padding: 6px 6px;
  box-sizing: border-box;
}

.container-user-link:focus .navigation-icon {
  fill: #756257;
}

.container-user-link:hover .navigation-icon {
  fill: #756257;
}

.container-user-link:active .navigation-icon {
  fill: rgba(117, 98, 87, 0.3);
}

.container-user-link:focus {
  outline: none;
  border: 4px solid #83B3D3;
  border-radius: 10px;
  padding: 6px 6px;
}

.page-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.main-container {
  flex-grow: 1;
}

.page-welcome-image {
  display: block;
  margin: 0 auto;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #756257;
  cursor: pointer;
}

.btn-want {
  font-size: 16px;
  line-height: 20px;
  margin-left: 19px;
  padding: 8px 27px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 3px solid transparent;
}

.btn-want:hover {
  background-color: #615048;
}

.btn-want:focus {
  outline: none;
  border: 3px solid #83B3D3;
  background-color: #615048;
}

.btn-want:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.30);
  border: none;
}

.button-search {
  line-height: 36px;
  padding: 9px 197px;
  border-radius: 9px;
}

.button-search:focus {
  outline: none;
  background-color: #615048;
  border: 3px solid #83B3D3;
}

.button-search:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.30);
}

.button-search:hover {
  background-color: #615048;
}

.page-header {
  color: #000000;
  background: #FFFFFF;
  position: relative;
  z-index: 10;
}

.navigation-link--active {
  font-family: "PT Sans", "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  background-color: inherit;
  font-style: normal;
  border-bottom: 2px solid #756257;
  padding: 6px 12px;
  box-sizing: border-box;
  border: 4px solid transparent;
  border-radius: 10px;
}

.navigation-link--active:focus {
  outline: none;
  border: 4px solid #83B3D3;
  color: #756257;
}

.navigation-link--active:hover {
  color: #756257;
}

.navigation-link--active:active {
  opacity: 30%;
}

.hotel-card {
  padding-bottom: 30px;
}

.hotel-card-link {
  text-decoration: none;
  font-style: normal;
  border: 3px solid transparent;
  margin: -3px;
}

.hotel-card-image {
  vertical-align: bottom;
}

.hotel-card-image:hover {
  opacity: 60%;
}

.hotel-card-image:active {
  opacity: 30%;
}

.header-picture {
  background-image: url("../images/index-html.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 51px;
  position: relative;
  min-height: 485px;
}

.header-picture::after {
  content: url("../images/page-figure.svg");
  position: absolute;
  bottom: 47px;
  z-index: 2;
}

.container-desc {
  margin: 0 auto;
  text-align: center;
  min-width: 720px;
  padding-top: 63px;
  padding-bottom: 79px;
}

.container-title {
  font-family: "PT Sans", "Montserrat", sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 240px;
}

.container-text {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  margin-top: 23px;
}

.advantages-item--wide {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 2fr;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.item-wide {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.advantage-item-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 98px
}

.advantages-item--wide .advantages-item-description {
  padding: 0 90px;
  margin: 0;
  text-align: center;
}

.advantages-item .advantages-item-description {
  padding: 26px 75px 0;
  margin: 0;
}

.advantages-picture {
  width: 800px;
  height: 384px;
  background-repeat: no-repeat;
}

.picture-photo-1 {
  background-image: url("../images/photo-1.jpg");
}

.picture-photo-2 {
  background-image: url("../images/photo-2.jpg");
}

ul .advantage-item-title {
  color: #000000;
}

.advantages-item-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background: rgba(131, 179, 211, 0.12);
}

.item-icon {
  padding-top: 184px;
}

.item-icon::before {
  content: '';
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  width: 74px;
  height: 76px;
  left: 50%;
  transform: translateX(-50%);
  top: 89px;
}

.advantages-item-number {
  padding-top: 25px;
  padding-bottom: 26px;
  display: block;
}

.icon-house::before {
  background-image: url("../images/item-hotel.svg");
}

.icon-present::before {
  background-image: url("../images/item-present.svg");
}

.icon-food::before {
  background-image: url("../images/item-food.svg");
}

.advantages-item-food {
  background: #FFFFFF;
}

.advantages-item-road {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  min-height: 384px;
}

.advantages-list--number {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  min-height: 384px;
}

.container-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 417px;
}

.search {
  text-align: center;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.search-text, .page-main-text {
  font-size: 22px;
  line-height: 26px;
  margin: 0 328px;
  padding-bottom: 73px;
  text-align: center;
}

.newsletter-form {
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.newsletter-email {
  display: flex;
  flex-grow: 1;
}

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
}

.page-main-title {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe {
  color: inherit;
  background-color: #83B3D3;
  line-height: 26px;
}

.page-footer {
  color: #000000;
  background-color: #FFFFFF;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0 72px;
  align-items: center;
  min-height: 120px;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: inherit;
  padding: 10px 15px;
}

.footer-contacts-phone:hover {
  color: #756257;
}

.footer-contacts-phone:active {
  color: rgba(117, 98, 87, 0.3);
}

.footer-contacts-phone:focus {
  outline: none;
  color: #756257;
  border: 3px solid #68A2CA;
  border-radius: 10px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
}

.footer-social-link {
  line-height: 0;
  border: 4px solid transparent;
  border-radius: 10px;
  padding: 6px 6px;
  display: block;
  height: 18px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}

.social-icon {
  fill: #83B3D3;
}

.footer-social-link:hover .social-icon {
  fill: #68A2CA;
}

.footer-social-link:active .social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-social-link:focus {
  outline: none;
  border: 4px solid #83B3D3;
  border-radius: 10px;
  padding: 6px 6px;
}

.footer-social-link:focus .social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.htmlacademy-link {
  padding: 14px 23px;
  border: 3px solid transparent;
}

.htmlacademy-link-image {
  background-repeat: no-repeat;
  width: 115px;
  height: 33px;
  fill: #000000;
}

.htmlacademy-link-image:hover {
  fill: #756257;
}

.htmlacademy-link:active .htmlacademy-link-image {
  fill: rgba(117, 98, 87, 0.3);
}

.htmlacademy-link:focus {
  outline: none;
  border-radius: 10px;
  border: 3px solid #68A2CA;
}

.htmlacademy-link:focus .htmlacademy-link-image {
  fill: #756257;
}

.newsletter--with-background {
  color: #FFFFFF;
  background-color: #756257;
  background-image: url("../images/main-newsletter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: 411px;
}

.field {
  flex-grow: 1;
  padding-left: 22px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #F2F2F2;
  border: 3px solid transparent;
}

.field:hover {
  background-color: #E5E5E5;
}

.field:focus {
  outline: none;
  border: 3px solid #83B3D3;
  background-color: #E5E5E5;
}

.field:active {
  background-color: #FFFFFF;
  border: 3px solid #000000;
}

.content-container {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.inner-content-container {
  margin: 0 71px;
}

.results-control {
  margin: 0 72px;
}

.list-mode-icon {
  padding-left: 8px;
}

.list-mode {
  display: flex;
  margin-left: 81px;
}

.list-mode-icon:first-child {
  padding: 0;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #FFFFFF;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.card-grid-toggle:hover {
  border: 2px solid #83B3D3;
}

.card-grid-toggle:focus {
  outline: none;
  border: 2px solid #83B3D3;
}

.card-grid-toggle:active {
  border: 2px solid #000000;
}

.inner-content {
  display: block;
  color: #FFFFFF;
  background-image: url("../images/catalog/catalog-filter.jpg");
  background-color: #756257;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 35px;
  padding-bottom: 56px;
}

.button-favorites {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  padding: 7px 0;
  border-radius: 4px;
  border: 3px solid transparent;
}

.button-favorites:hover {
  background-color: #68A2CA;
}

.button-favorites:focus {
  outline: none;
  background-color: #68A2CA;
  border: 3px solid #756257;
}

.button-favorites:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  flex-grow: 1;
  justify-content: flex-start;
}

.pagination-item {
  display: flex;
  padding-right: 7px;
}

.pagination-show-more {
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
  display: block;
  margin: 0 auto;
  padding: 10px 156px;
  border-radius: 4px;
  border: 3px solid transparent;
}

.pagination-show-more:hover {
  background-color: #68A2CA;
}

.pagination-show-more:focus {
  outline: none;
  background-color: #68A2CA;
  border: 3px solid #756257;
}

.pagination-show-more:active {
  color: rgba(255, 255, 255, 0.30);
}

.container-show-more {
  padding-bottom: 30px;
  border-bottom: 1px solid #E5E5E5;
}

.newsletter-button {
  background-color: #83B3D3;
  width: 200px;
  height: 60px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 3px solid transparent;
}

.newsletter-button:hover {
  background-color: #68A2CA;
}

.newsletter-button:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.30);
}

.newsletter-button:focus {
  outline: none;
  background-color: #68A2CA;
  border: 3px solid #756257;
}

.hotel-card {
  padding-top: 31px;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  color: #000000;
}

.hotel-card-title:hover {
  color: #756257;
}

.hotel-card-link:focus {
  outline: none;
  color: #756257;
  border: 3px solid #83B3D3;
}

.hotel-card-link-title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  font-style: normal;
  padding: 5px 15px;
  margin-left: -17px;
  margin-top: -12px;
  border: 3px solid transparent;
}

.hotel-card-link-title:focus {
  outline: none;
  border: 3px solid #83B3D3;
  border-radius: 10px;
}

.hotel-card-title:active {
  color: rgba(117, 98, 87, 0.3);
}

.hotel-card-type {
  line-height: 24px;
}

.hotel-card-price {
  line-height: 24px;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 9px 15px;
  border-radius: 4px;
  background-color: #F2F2F2;
}

.number-hotel {
  line-height: 21px;
  padding-right: 51px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search-results-title {
  font-size: 30px;
  line-height: 39px;
  padding-bottom: 45px;
}

.inner-content-title {
  font-size: 60px;
  line-height: 78px;
  padding-bottom: 5px;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  color: #FFFFFF;
  box-sizing: border-box;
  line-height: 0;
  border: 3px solid transparent;
  border-radius: 4px;
  padding: 3px 8px;
}

.breadcrumbs-item {
  margin-left: 10px;
}

.breadcrumbs-link-icon {
  fill: #FFFFFF;
}

.breadcrumbs-link:hover {
  opacity: 60%;
}

.breadcrumbs-link:active {
  opacity: 30%;
}

.breadcrumbs-link:focus {
  outline: none;
  border: 3px solid #83B3D3;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.filter-part1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 67px;
  margin-right: 167px;
}

.catalog-filter-item:last-child {
  padding-bottom: 0;
}

.house-type {
  position: relative;
  display: block;
  padding-left: 36px;
}

.button-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 56px;
}

.container-filter-col {
  padding-top: 45px;
}

.catalog-filter-title {
  padding-bottom: 30px;
}

.catalog-filter-item {
  padding-bottom: 13px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
}

.catalog-filter-group-wide {
  display: flex;
  align-items: flex-start;
}

.feature {
  position: relative;
  display: block;
  padding-left: 36px;
}

.feature-mark {
  position: absolute;
  left: 0;
  width: 17px;
  height: 17px;
  background-color: #FFFFFF;
  border-radius: 4px;
  border: 3px solid transparent;
}

.feature:hover .feature-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.feature:focus+.feature-mark {
  outline: none;
  border-color: 3px solid #83B3D3;
  opacity: 60%;
}

.feature-input[type="checkbox"]:checked+.feature-mark::before {
  position: absolute;
  background-image: url(../images/catalog-icon/selected.svg);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.hotel-list:first-child {
  border-top: 1px solid #E5E5E5;
}

.hotel-list {
  margin-bottom: 30px;
}

.hotel-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  align-items: stretch;
  border-bottom: 1px solid #E5E5E5;
}

.hotel-card-column {
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 36px;
}

.hotel-card-column-details {
  display: grid;
  grid-template-columns: 151px 160px;
  grid-template-rows: 23px;
  column-gap: 8px;
  row-gap: 22px;
  align-items: end;
}

.hotel-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../images/catalog-icon/star.svg);
  background-repeat: repeat-x;
}

.catalog-filter-group {
  display: flex;
  flex-direction: column;
}

.filter-part2 {
  display: flex;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 28px;
  background-color: rgba(255, 255, 255, 0.30);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 14px;
  height: 14px;
  background: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  border: 3px solid transparent;
}

.range-toggle:active, .range-toggle:focus {
  outline: none;
  border: 3px solid #83B3D3;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
}

.catalog-filter-label {
  display: flex;
  align-items: center;
}

.range-input {
  width: 30px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button, .range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.feature-input[type="radio"]+.feature-mark {
  border-radius: 50%;
}

.feature-input[type="radio"]:checked+.feature-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.catalog-filter-input {
  padding: 14px 17px;
}

.button-apply {
  color: #FFFFFF;
  background-color: #83B3D3;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 12px 21px;
  line-height: 0;
  border: 3px solid transparent;
  box-sizing: border-box;
}

.button-apply:hover {
  background-color: #68A2CA;
}

.button-apply:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-apply:focus {
  outline: none;
  border: 3px solid #FFFFFF;
  border-radius: 4px;
  background-color: #68A2CA;
}

.button-reset {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 23px;
  background: none;
  margin-top: 20px;
  border: 3px solid transparent;
  border-radius: 4px;
  padding: 3px 8px;
  box-sizing: border-box;
}

.button-reset:hover {
  opacity: 60%;
}

.button-reset:active {
  opacity: 30%;
}

.button-reset:focus {
  outline: none;
  border: 3px solid #83B3D3;
}

.button-more {
  color: #FFFFFF;
  background-color: #756257;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 6px 0;
  border-radius: 4px;
  border: 3px solid transparent;
}

.button-more:hover {
  background-color: #615048;
}

.button-more:focus {
  outline: none;
  background-color: #615048;
  border: 3px solid #83B3D3;
}

.button-more:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #83B3D3;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  width: 55px;
  height: 55px;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  outline: none;
  border: 3px solid #756257;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.30);
}

.select {
  position: relative;
  display: flex;
  align-items: center;
  width: 287px;
  margin-left: auto;
}

.select-control {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
  padding: 12px 127px 12px 19px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-image: url(../images/catalog-icon/dropdown.svg);
  background-repeat: no-repeat;
  background-position: right 21px center;
  appearance: none;
}

.select-control:hover {
  border: 2px solid #83B3D3;
}

.select-control:focus {
  outline: none;
  border: 2px solid #83B3D3;
}

.select-control:active {
  border: 2px solid #E5E5E5;
  color: rgba(51, 51, 51, 0.3)
}

.newsletter-catalog {
  text-align: center;
  padding: 89px 0 138px 0;
}

.text-catalog {
  padding-bottom: 26px;
}

.box-control {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
  padding: 13px 17px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}
