@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-italic.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-bold-italic.woff2") format("woff2");
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  width: 1280px;
  font-family: "PT Sans", "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.clean {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  font-family: "PT Sans", "Montserrat", sans-serif;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 5px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 6;
  padding-left: 56px;
  padding-right: 72px;
}

.navigation {
  max-width: 454px;
}

.navigation-link {
  font-family: "PT Sans", "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  color: inherit;
  background-color: inherit;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 6px 12px;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:focus {
  outline: none;
}

.navigation-link:active {
  opacity: 30%;
  border-color: transparent;
}

.navigation-icon {
  fill: #000000;
}

.navigation-list {
  min-height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: auto;
  align-items: stretch;
}

.navigation-item {
  margin: 0 18px 0 15px;
  height: auto;
  display: flex;
}

.container-user {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.container-user-link {
  line-height: 0;
  border: 4px solid transparent;
  border-radius: 10px;
  padding: 6px 6px;
  box-sizing: border-box;
  position: relative;
  display: flex;
}

.link-favorites-count {
  position: absolute;
  bottom: 16px;
  left: 58%;
  width: 19px;
  height: 19px;
  background-color: #7db54f;
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.link-favorites:active .link-favorites-count {
  color: rgba(255, 255, 255, 0.3);
}

.container-user-link:hover .navigation-icon {
  fill: #756257;
}

.container-user-link:focus .navigation-icon {
  fill: #756257;
}

.container-user-link:focus {
  outline: none;
  border: 4px solid #83b3d3;
  border-radius: 10px;
  padding: 6px 6px;
}

.container-user-link:active {
  border-color: transparent;
}

.container-user-link:active .navigation-icon {
  fill: rgba(117, 98, 87, 0.3);
}

.page-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.popover {
  position: absolute;
  z-index: 1;
  transform: translateX(-50%);
  left: 14px;
  top: 40px;
}

.popover-open {
  display: block;
}

.popover-favorites {
  position: absolute;
  box-sizing: border-box;
  width: 400px;
  color: #000000;
  background-color: #ffffff;
  min-height: 186px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  top: 47px;
  left: 22%;
  display: none;
}

.popover-favorites::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 9px solid #e5e5e5;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
}

.popover-favorites::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 9px solid #ffffff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
}

.popover-content {
  padding: 25px 25px 0 25px;
  border: 1px solid #e5e5e5;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: none;
}

.popover-content-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;
  align-items: flex-start;
}

.popover-inner-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 3px solid transparent;
  margin: -13px;
}

.popover-inner-link:hover {
  opacity: 30%;
}

.popover-inner-link:focus {
  outline: none;
  border: 3px solid #83b3d3;
  border-radius: 10px;
}

.hotel-link-image {
  border-radius: 50%;
}

.link-content {
  margin-left: 17px;
}

.hotel-link-title {
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.hotel-link-subtitle {
  color: #333333;
}

.popover-icon {
  fill: #000000;
  opacity: 20%;
}

.favorites-delete {
  background-color: transparent;
  border: 3px solid transparent;
  outline: none;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -3px;
}

.favorites-delete:hover .popover-icon,
.favorites-delete:focus .popover-icon {
  opacity: 100%;
}

.favorites-delete:focus {
  border: 3px solid #83b3d3;
  border-radius: 10px;
}

.favorites-delete:active {
  opacity: 15%;
  border-color: transparent;
}

.popover-all-favorites {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 10px 0;
  border: 3px solid transparent;
}

.popover-all-favorites:hover {
  background-color: #615048;
}

.popover-all-favorites:focus {
  border: 3px solid #83b3d3;
  background-color: #615048;
  outline: none;
}

.popover-all-favorites:active {
  color: rgba(255, 255, 255, 0.7);
  border-color: transparent;
}

.popover-favorites .popover-all-favorites {
  font-size: 16px;
}

.main-container {
  flex-grow: 1;
}

.page-welcome-image {
  display: block;
  margin: 0 auto;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  background-color: #756257;
  cursor: pointer;
  padding: 18px 31px;
}

.btn-want {
  font-size: 16px;
  line-height: 20px;
  margin-left: 19px;
  padding: 6px 32px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 3px solid transparent;
}

.btn-want:hover {
  background-color: #615048;
}

.btn-want:focus {
  outline: none;
  border: 3px solid #83b3d3;
  background-color: #615048;
}

.btn-want:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.7);
  border-color: transparent;
}

.button-search {
  line-height: 18px;
  border-radius: 9px;
  border: 3px solid transparent;
}

.button-search:focus {
  outline: none;
  background-color: #615048;
  border: 3px solid #83b3d3;
}

.button-search:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.7);
  border-color: transparent;
}

.button-search:hover {
  background-color: #615048;
}

.page-header {
  color: #000000;
  background: #ffffff;
  position: relative;
  z-index: 10;
}

.navigation-item-active .navigation-link::after {
  content: "";
  position: absolute;
  left: 12px;
  right: 12px;
  height: 2px;
  background-color: #756257;
  bottom: -1px;
}

.navigation-item .navigation-link:focus::before {
  content: "";
  border: 3px solid #83b3d3;
  position: absolute;
  left: 0;
  right: 0;
  height: 32px;
  border-radius: 10px;
}

.hotel-card {
  padding-bottom: 30px;
  padding-top: 31px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-card-link {
  text-decoration: none;
  font-style: normal;
  border: 3px solid transparent;
  margin: -3px;
}

.hotel-card-image {
  vertical-align: bottom;
  flex-shrink: 0;
}

.hotel-card-image:hover {
  opacity: 60%;
}

.hotel-card-link:focus {
  outline: none;
  border: 3px solid #83b3d3;
}

.hotel-card-link:active {
  opacity: 30%;
}

.header-picture {
  background-image: url("../images/index-html.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 51px;
  position: relative;
  min-height: 485px;
}

.header-picture::after {
  content: url("../images/page-figure.svg");
  position: absolute;
  bottom: 47px;
  z-index: 2;
}

.container-desc {
  margin: 0 auto;
  text-align: center;
  min-width: 720px;
  padding-top: 10px;
  padding-bottom: 79px;
}

.container-title {
  font-family: "PT Sans", "Montserrat", sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 240px;
}

.container-text {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  margin-top: 34px;
}

.advantages-item--wide {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  color: #ffffff;
  background-color: #83b3d3;
}

.item-wide {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.advantage-item-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  max-width: 180px;
}

.advantages-item-number {
  display: block;
  margin: 26px 0 16px 0;
}

.picture-photo-2 {
  background-image: url("../images/photo-2.jpg");
}

ul .advantage-item-title {
  color: #000000;
}

.advantages-item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 91px;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(131, 179, 211, 0.12);
  position: relative;
}

.icon-house::before {
  background-image: url("../images/item-hotel.svg");
  content: "";
}

.icon-present::before {
  background-image: url("../images/item-present.svg");
  content: "";
}

.icon-food::before {
  background-image: url("../images/item-food.svg");
  content: "";
}

.item-icon {
  padding-top: 87px;
}

.item-icon::before {
  content: "";
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  width: 74px;
  height: 76px;
  left: 50%;
  transform: translateX(-50%);
  top: 75px;
}

.advantages-item .advantages-item-description {
  margin: 20px 75px 0;
}

.advantages-item-food {
  background: #ffffff;
}

.advantages-item-road {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  min-height: 384px;
}

.advantages-list--number {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: stretch;
  text-align: center;
  min-height: 384px;
}

.container-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  min-height: 417px;
  padding: 0 312px;
}

.search {
  text-align: center;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.search-text,
.page-main-text {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 50px;
  text-align: center;
}

.newsletter-form {
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.newsletter-email {
  display: flex;
  flex-grow: 1;
}

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
}

.container-newsletter {
  padding: 0 350px;
}

.page-main-title {
  margin-bottom: 26px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.subscribe {
  color: inherit;
  background-color: #83b3d3;
  line-height: 26px;
}

.page-footer {
  color: #000000;
  background-color: #ffffff;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0 47px 0 62px;
  align-items: center;
  min-height: 120px;
}

.footer-contacts-phone {
  padding: 15px;
  font-size: 40px;
  color: inherit;
  text-align: center;
  line-height: 40px;
}

.footer-contacts-phone:hover {
  color: #756257;
}

.footer-contacts-phone:focus {
  outline: none;
  color: #756257;
  border: 3px solid #68a2ca;
  border-radius: 10px;
}

.footer-contacts-phone:active {
  color: rgba(117, 98, 87, 0.3);
  border-color: transparent;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 120px;
}

.footer-social-link {
  line-height: 0;
  border: 4px solid transparent;
  border-radius: 10px;
  padding: 6px 6px;
  display: block;
  height: 18px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
  text-align: center;
}

.social-icon {
  fill: #83b3d3;
}

.footer-social-link:hover .social-icon {
  fill: #68a2ca;
}

.footer-social-link:focus {
  outline: none;
  border: 4px solid #83b3d3;
  border-radius: 10px;
  padding: 6px 6px;
}

.footer-social-link:focus .social-icon {
  fill: #83b3d3;
}

.footer-social-link:active .social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-social-link:active {
  border-color: transparent;
}

.htmlacademy-link {
  padding: 10px;
  border: 3px solid transparent;
}

.htmlacademy-link-image {
  background-repeat: no-repeat;
  width: 115px;
  height: 33px;
  fill: #000000;
}

.htmlacademy-link-image:hover {
  fill: #756257;
}

.htmlacademy-link:focus {
  outline: none;
  border-radius: 10px;
  border: 3px solid #68a2ca;
}

.htmlacademy-link:focus .htmlacademy-link-image {
  fill: #756257;
}

.htmlacademy-link:active .htmlacademy-link-image {
  fill: rgba(117, 98, 87, 0.3);
}

.htmlacademy-link:active {
  border-color: transparent;
}

.modal-container {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  background-color: #ffffff;
  border-radius: 20px;
  width: 715px;
}

.modal-close-button {
  min-width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close-button:hover {
  background-color: #e5e5e5;
}

.modal-close-button:focus {
  background-color: #e5e5e5;
  border: 3px solid #83b3d3;
  outline: none;
}

.modal-close-button:active {
  border-color: transparent;
}

.search-dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 57px;
}

.modal-close-button::before,
.modal-close-button::after {
  position: absolute;
  width: 17px;
  height: 2px;
  background-color: #000000;
  content: "";
}

.modal-close-button:active::before,
.modal-close-button:active::after {
  opacity: 30%;
}

.modal-close-button::before {
  transform: rotate(45deg);
  content: "";
}

.modal-close-button::after {
  transform: rotate(-45deg);
  content: "";
}

.search-dialog {
  margin: 70px;
  margin-top: 54px;
}

.dialog-title {
  font-size: 30px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
}

.search-dialog-form {
  display: flex;
  flex-direction: column;
}

.search-dialog-label,
.amount {
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
}

.search-wide,
.amount-adult {
  min-width: 155px;
}

.amount-children {
  min-width: 54px;
}

.form-amount {
  text-align: center;
}

.field-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 15px;
  align-items: baseline;
  position: relative;
}

.search-date {
  background-color: transparent;
}

.calendar-icon {
  fill: #000000;
  opacity: 30%;
}

.half-width {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-dialog-box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.search-dialog-input {
  position: relative;
  background-color: #f2f2f2;
  border-radius: 4px;
  flex-grow: 1;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 44px;
  border: 3px solid transparent;
  padding: 0 19px;
}

.half-width .field-group {
  align-items: center;
}

.btn-control {
  position: absolute;
  background-color: transparent;
  width: 25px;
  height: 25px;
  font-size: 0;
  line-height: 0;
  opacity: 30%;
  z-index: 2;
  border-radius: 4px;
}

.btn-control:hover {
  opacity: 100%;
}

.btn-control:focus {
  opacity: 100%;
  border: 3px solid #83b3d3;
  outline: none;
}

.btn-control:active {
  opacity: 30%;
  border-color: transparent;
}

.control-dec {
  position: absolute;
  left: 6px;
}

.control-inc {
  position: absolute;
  right: 6px;
}

.form-amount-children {
  display: flex;
  align-items: center;
  position: relative;
}

.group-form-amount {
  position: relative;
  display: flex;
  align-items: center;
}

.search-dialog-input:hover {
  background-color: #e5e5e5;
}

.search-dialog-input:focus {
  outline: none;
  border: 3px solid #83b3d3;
  background-color: #e5e5e5;
}

.search-dialog-input:active {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 2px #000000;
  opacity: 100%;
}

.box-status {
  margin-top: 5px;
}

.status-invalid {
  color: #ff5757;
  font-size: 16px;
  line-height: 17px;
}

.status-valid {
  color: #333333;
  font-size: 16px;
  line-height: 17px;
}

.info {
  position: relative;
  width: 25px;
  height: 25px;
  background-color: #83b3d3;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid transparent;
  outline: none;
  margin-right: 22px;
}

.info:hover {
  background-color: #68a2ca;
}

.info:focus {
  background-color: #68a2ca;
  border: 3px solid #68a2ca;
}

.info:active {
  background-color: #68a2ca;
}

.info-icon {
  fill: #ffffff;
}

.popup {
  position: absolute;
  z-index: 1;
  transform: translateX(-50%);
  left: 481px;
  top: 382px;
}

.popup-info {
  width: 256px;
  box-sizing: border-box;
  background-color: #333333;
  box-shadow: 0 15px 30px rgb(0 0 0 / 30%);
  border-radius: 10px;
  display: none;
  padding: 15px 18px 18px 22px;
}

.popup-info::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 9px solid #333333;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
}

.popup-open {
  display: block;
}

.popup-tip {
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  text-align: start;
}

.btn-search {
  background-color: #83b3d3;
  line-height: 40px;
  border-radius: 10px;
  padding: 8px 0;
  border: 3px solid #83b3d3;
  margin-top: 28px;
}

.btn-search:hover {
  background-color: #68a2ca;
}

.btn-search:focus {
  border: 3px solid #756257;
  outline: none;
}

.btn-search:active {
  color: rgba(255, 255, 255, 0.7);
  border-color: transparent;
}

.newsletter--with-background {
  color: #ffffff;
  background-color: #756257;
  background-image: url("../images/main-newsletter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: 411px;
}

.field {
  flex-grow: 1;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #f2f2f2;
  border: 3px solid transparent;
  padding: 0 22px;
  font-size: 18px;
}

.field:hover {
  background-color: #e5e5e5;
}

.field:focus {
  outline: none;
  border: 3px solid #83b3d3;
  background-color: #e5e5e5;
}

.field:active {
  background-color: #ffffff;
  border: 3px solid #000000;
}

.field--error {
  border: 2px solid #ff5757;
  background-color: #ffffff;
  opacity: 60%;
}

.content-container {
  padding-top: 43px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.inner-content-container {
  margin: 0 71px;
}

.results-control {
  margin: 0 72px;
}

.list-mode-icon {
  padding-left: 8px;
}

.list-mode {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.list-mode-icon:first-child {
  padding: 0;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.card-grid-toggle:hover {
  border: 2px solid #83b3d3;
}

.card-grid-toggle:focus {
  outline: none;
  border: 2px solid #83b3d3;
}

.card-grid-toggle:active {
  border: 2px solid #000000;
}

.inner-content {
  display: block;
  color: #ffffff;
  background-image: url("../images/catalog/catalog-filter.jpg");
  background-color: #756257;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 32px;
  padding-bottom: 75px;
}

.button-favorites {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  background-color: #83b3d3;
  padding: 7px 10px;
  border-radius: 4px;
  border: 3px solid transparent;
  min-width: 160px;
}

.button-favorites:hover {
  background-color: #68a2ca;
}

.button-favorites:focus {
  outline: none;
  background-color: #68a2ca;
  border: 3px solid #756257;
}

.button-favorites:active {
  color: rgba(255, 255, 255, 0.3);
  border-color: transparent;
}

.button-favorites--active {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  background-color: #7db54f;
  padding: 7px 10px;
  border-radius: 4px;
  border: 3px solid transparent;
  min-width: 160px;
}

.button-favorites--active:hover {
  background-color: #6c9e42;
}

.button-favorites--active:focus {
  outline: none;
  background-color: #6c9e42;
  border: 3px solid #756257;
}

.button-favorites--active:active {
  color: rgba(255, 255, 255, 0.3);
  border-color: transparent;
}

.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 30px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  flex-grow: 1;
  justify-content: flex-start;
}

.pagination-item {
  display: flex;
  padding-right: 7px;
  margin-bottom: 5px;
}

.pagination-show-more {
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
  display: block;
  margin: 0 auto;
  padding: 10px 237px;
  border-radius: 4px;
  border: 3px solid transparent;
}

.pagination-show-more:hover {
  background-color: #68a2ca;
}

.pagination-show-more:focus {
  outline: none;
  background-color: #68a2ca;
  border: 3px solid #756257;
}

.pagination-show-more:active {
  color: rgba(255, 255, 255, 0.7);
  border-color: transparent;
}

.container-show-more {
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.newsletter-button {
  width: 200px;
  padding: 14px 22px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 3px solid transparent;
  background-color: #83b3d3;
}

.newsletter-button:hover {
  background-color: #68a2ca;
}

.newsletter-button:focus {
  outline: none;
  background-color: #68a2ca;
  border: 3px solid #756257;
}

.newsletter-button:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.7);
  border-color: transparent;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  color: #000000;
  max-width: 642px;
}

.hotel-card-title:hover {
  color: #756257;
}

.hotel-card-link-title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  font-style: normal;
  padding: 5px 15px 1px;
  margin-left: -17px;
  margin-top: -12px;
  border: 3px solid transparent;
}

.hotel-card-link-title:focus {
  outline: none;
  border: 3px solid #83b3d3;
  border-radius: 10px;
  color: #756257;
}

.hotel-card-title:active {
  opacity: 30%;
  border-color: transparent;
}

.hotel-card-type {
  line-height: 24px;
}

.hotel-card-price {
  line-height: 24px;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 10px 32px;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.number-hotel {
  line-height: 21px;
  padding-right: 51px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search-results-title {
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin-right: 112px;
}

.inner-content-title {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.breadcrumbs-link {
  font-size: 16px;
  text-transform: none;
  color: #ffffff;
  box-sizing: border-box;
  line-height: 0;
  border: 3px solid transparent;
  border-radius: 4px;
  padding: 3px 8px;
  margin-left: -10px;
}

.breadcrumbs-link-icon {
  fill: #ffffff;
}

.breadcrumbs-link:hover {
  opacity: 60%;
}

.breadcrumbs-link:focus {
  outline: none;
  border: 3px solid #83b3d3;
}

.breadcrumbs-link:active {
  opacity: 30%;
  border-color: transparent;
}

.breadcrumbs-item {
  padding-right: 10px;
}

.breadcrumbs-item:first-child {
  padding-right: 0;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
  padding-top: 43px;
}

.filter-part1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 67px;
}

.catalog-filter-item:last-child {
  padding-bottom: 0;
}

.house-type {
  position: relative;
  display: flex;
  padding-left: 36px;
  align-items: center;
}

.button-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 81px;
}

.catalog-filter-item {
  padding-bottom: 13px;
  line-height: 23px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  padding-bottom: 30px;
}

.catalog-filter-controls {
  display: flex;
  flex-wrap: wrap;
}

.feature {
  position: relative;
  display: flex;
  padding-left: 36px;
  align-items: center;
}

.feature-mark {
  position: absolute;
  left: 3px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.feature:hover .feature-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.feature-input:focus + .feature-mark {
  outline: none;
  border: 3px solid #83b3d3;
  opacity: 60%;
  left: 0;
}

.feature-input:active + .feature-mark {
  opacity: 30%;
}

.feature-input[type="checkbox"]:checked + .feature-mark::before {
  position: absolute;
  background-image: url("../images/catalog-icon/selected.svg");
  width: 22px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 42px;
}

.hotel-list:first-child {
  border-top: 1px solid #e5e5e5;
}

.hotel-list {
  margin-bottom: 27px;
}

.hotel-card-column {
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 36px;
}

.hotel-card-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2px;
  row-gap: 22px;
  align-items: stretch;
  justify-items: stretch;
}

.hotel-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hotel-star-image {
  background-image: url("../images/catalog-icon/star.svg");
  background-repeat: repeat-x;
  height: 17px;
}

.number-star {
  width: 97px;
}

.hotel-star-number {
  width: 74px;
}

.number-hotel-star {
  width: 50px;
}

.catalog-filter-group {
  display: flex;
  flex-direction: column;
}

.filter-part2 {
  display: flex;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 30px;
  background-color: #666b6f;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid transparent;
}

.range-toggle:focus {
  outline: none;
  border: 3px solid #83b3d3;
}

.range-toggle:active {
  border: 2px solid #83b3d3;
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
}

.catalog-filter-label {
  display: flex;
  align-items: center;
  position: relative;
}

.range-input {
  width: 30px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.feature-input[type="radio"] + .feature-mark {
  border-radius: 50%;
}

.feature-input[type="radio"]:focus + .feature-mark {
  outline: none;
  border: 3px solid #83b3d3;
  opacity: 60%;
}

.feature-input[type="radio"]:checked + .feature-mark::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
  transform: translate(-50%, -50%);
}

.house-type:hover .feature-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.catalog-filter-input {
  padding: 11px 17px;
  font-size: 18px;
  font-family: "PT Sans", "Montserrat", sans-serif;
  background-color: transparent;
  color: #ffffff;
  outline: none;
  border: 2px solid #ffffff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.catalog-filter-input:hover {
  border-color: rgba(255, 255, 255, 0.4);
}

.catalog-filter-input:focus {
  outline: none;
  border-color: #ffffff;
  box-shadow: 0 0 0 2px #81b3d2, 0 0 0 2px #81b3d2 inset;
}

.catalog-filter-input:active {
  background-color: #756257;
  outline: 2px solid #ffffff;
  box-shadow: none;
}

.catalog-filter-label::after {
  content: "до";
  color: rgba(255, 255, 255, 0.7);
  margin: 0 17px;
  position: absolute;
  right: 0;
}

.min-price-label .catalog-filter-input {
  border-right: none;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.min-price-label::after {
  content: "от";
}

.button-apply {
  color: #ffffff;
  background-color: #83b3d3;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 11px 32px;
  border: 3px solid transparent;
  box-sizing: border-box;
}

.button-apply:hover {
  background-color: #68a2ca;
}

.button-apply:focus {
  outline: none;
  border: 3px solid #ffffff;
  border-radius: 4px;
  background-color: #68a2ca;
}

.button-apply:active {
  color: rgba(255, 255, 255, 0.3);
  border-color: transparent;
}

.button-reset {
  color: #ffffff;
  font-size: 18px;
  line-height: 23px;
  background: none;
  margin-top: 20px;
  border: 3px solid transparent;
  border-radius: 4px;
  padding: 3px 8px;
  box-sizing: border-box;
}

.button-reset:hover {
  opacity: 60%;
}

.button-reset:focus {
  outline: none;
  border: 3px solid #83b3d3;
}

.button-reset:active {
  opacity: 30%;
  border-color: transparent;
}

.button-more {
  color: #ffffff;
  background-color: #756257;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 6px 0;
  border-radius: 4px;
  border: 3px solid transparent;
  width: 151px;
}

.button-more:hover {
  background-color: #615048;
}

.button-more:focus {
  outline: none;
  background-color: #615048;
  border: 3px solid #83b3d3;
}

.button-more:active {
  color: rgba(255, 255, 255, 0.3);
  border-color: transparent;
}

.pagination-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: #ffffff;
  background-color: #83b3d3;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  min-width: 50px;
  min-height: 50px;
  text-align: center;
  border: 3px solid transparent;
}

.pagination-link--active {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: #000000;
  background-color: #f2f2f2;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  min-width: 50px;
  min-height: 50px;
  text-align: center;
  border: 3px solid transparent;
}

.pagination-link--active:focus {
  outline: none;
  border: 3px solid #756257;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus {
  outline: none;
  border: 3px solid #756257;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.7);
  border-color: transparent;
}

.hotel-perpage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.select {
  position: relative;
  display: flex;
  align-items: center;
}

.select-control {
  width: 100%;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  padding: 11px 82px 11px 20px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-image: url("../images/catalog-icon/dropdown.svg");
  background-repeat: no-repeat;
  background-position: right 21px center;
  appearance: none;
}

.select-control:hover {
  border: 2px solid #83b3d3;
}

.select-control:focus {
  outline: none;
  border: 2px solid #83b3d3;
}

.select-control:active {
  border: 2px solid #e5e5e5;
  color: rgba(51, 51, 51, 0.7);
}

.newsletter-catalog {
  text-align: center;
  padding: 84px 0 138px 0;
}

.text-catalog {
  padding-bottom: 52px;
}

.box-control {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-image: url("../images/catalog-icon/dropdown.svg");
  padding: 12px 127px 12px 19px;
  background-repeat: no-repeat;
  background-position: right 21px center;
  appearance: none;
  max-width: 195px;
}

.box-control:focus {
  outline: none;
}

.box-calendar-icon {
  position: absolute;
  background-image: url("../images/modal/calendar.svg");
  opacity: 30%;
  width: 15px;
  height: 15px;
  right: 0;
  margin: 17px;
}
